html{ 
    --black: black;
    --white: white; 
    --purple: purple; 
    --grey: grey; 
    --brown: brown; 
    --orange: rgba(251, 113, 0, 0.9); 
    --darkgrey: rgb(68, 67, 67); 
    --shadow: 0 0 10px var(--grey); /* Ombre */
}

body{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.left .logo {
    width: 100%;
    background-color: var(--darkgrey);
}

.right{ 
    border: 2px solid var(--black);
}

.title{
    border: 2px solid var(--black);
    margin-top: 15px;
    padding-left: 5px;
}

.textegauche{
    border: 2px solid var(--black);
    padding: 7px;
}
.fa-phone{
    display: inline-block;
}
/* .left .colone{
    background-color: var(--darkgrey);
} */